/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption {
    text-align: right;
    color: #0097a7;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 15px;
}
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th {
    padding-bottom: 10px;
    color: #212121;
    font-size: 0.85rem;
}
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody td a {
    color: #0097a7;
    font-weight: bold;
    text-decoration: none;
}
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
#wp-calendar tfoot a {
    color: #0097a7;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.85rem;
}